*{
  margin: 0px;
  padding: 0px;
}

#content:after{
  content: '';
  display: block;
  clear: both;
}

.aside{
  width: 200px;
  height: 500px;
  background-color: red;
  float: left;
}

.aside1{
  width: 200px;
  height: 500px;
  background-color: blue;
  float: right;
}

.main{
  margin-left: 210px;
  margin-right: 210px;
  height: 700px;
  background-color: pink;
}

#footer{
  background-color: #ccc;
}
